@using System.Web.Optimization
@using Visibility_Portal
@using Utilities.PortalApplicationParams
@{
  ViewBag.Title = "MSACCO WHITELISTING";

  Layout = $"{MSaccoAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutMSacco.cshtml";
  ActiveUserParams activeUserParams = ViewBag.ActiveUserParams;
}
@section HtmlHead {
  @{

    string[] cssFiles = {
$"~/plugins/Responsive-Tabs/css/responsive-tabs.css", // for tab-accordion switching
$"~/plugins/Responsive-Tabs/css/style.css" //basic tab accordion theme
};
  }
  @Styles.Render(cssFiles)
}
<h2>@ViewBag.Title</h2>

@{
  var singleTabId = "Individual";
  var batchTabId = "Batch";
}

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="tabs_whitelistingMode">
      <ul>
        <li><a href="#@singleTabId">Single Member</a></li>
        <li><a href="#@batchTabId">Batch File</a></li>
      </ul>

      <div id="@singleTabId">
        @{
          Html.RenderPartial("_SingleMemberWhitelistingPartial");
        }
      </div>
      <div id="@batchTabId">
        @{
          Html.RenderPartial("_BatchFileWhitelistingPartial");
        }
      </div>

    </div>
  </div>
</div>

@section Scripts {
  <!-- Include external scripts-->
  @{
    string[] scriptFiles = {
$"{MSaccoAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/msaccoWhitelisting.js",
$"{MSaccoAreaRegistration.AreaPathFromRoot}/plugins/Responsive-Tabs/js/jquery.responsiveTabs.js"
};
  }
  @Scripts.Render(scriptFiles)
  <!-- Define local scripts-->
  <script>
    $(document).ready(function () {
      $('[data-mask]').inputmask();

      initResponsiveTabs("#tabs_whitelistingMode");
      initTabulator(
        "#memberRecordsListTable",
        { encSecret: "@activeUserParams.APIAuthID", encKey: "@activeUserParams.APIToken" });

      $("#btnSearchMemberRecord").on('click', function () {
        SearchMemberRecord(
          "@Url.Action("GetMemberRecord", "MSACCOWhitelisting")",
          @activeUserParams.ClientCorporateNo,
          $("#memberTelNo").val()
        );
      });

      $("#btnWhitelist").on('click', function () {
        if ($("#memberTelNo").val() == '') return;
        bootbox.confirm({
          title: "Confirm to whitelist Member",
          message: "Are you sure you want to whitelist this phone number?",
          buttons: {
            cancel: {
              label: '<i class="fa fa-times"></i> Cancel',
              className: 'btn-success'
            },
            confirm: {
              label: '<i class="fa fa-check"></i> Confirm',
              className: 'btn-danger'
            }
          },
          callback: function (result) {
            if (result == true) {
              bootbox.prompt({
                title: "Please provide KYC details ",
                buttons: {
                  cancel: {
                    label: '<i class="fa fa-times"></i> ABORT',
                    className: 'btn-outline-warning'
                  },
                  confirm: {
                    label: '<i class="fa fa-check"></i> PROCEED',
                    className: 'btn-outline-success'
                  }
                },
                inputType: 'textarea',
                centerVertical: true,
                callback: function (result) {
                   console.log(result);
                  if (result != undefined) {
                    if (result.length < 5) {
                      bootbox.alert({
                        title: "<h3>MSACCO Whitelisting</h3>",
                        message: "KYC info is too short! Please provide substantive information"
                      });
                      return;
                    }
                    WhitelistMember(
                      "@Url.Action("WhitelistMemberRecord", "MSACCOWhitelisting")",
                      @activeUserParams.ClientCorporateNo,
                      $("#memberTelNo").val(),
                      result,
                      { encSecret: "@activeUserParams.APIAuthID", encKey: "@activeUserParams.APIToken" }
                    );
                  }
                }
              });


            }
          }

        });
      });
    });
  </script>
}
