@using VisibilityPortal_BLL.Models


@{
    ViewBag.Title = "Create New User";
    Layout = "../Shared/_LayoutAgencyBankingUI.cshtml";
}
@section HtmlHead{
    <style>

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
        .lds-hourglass {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
        }
        .lds-hourglass:after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 6px;
            box-sizing: border-box;
            border: 26px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-hourglass 1.2s infinite;
        }
       @@keyframes lds-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
            transform: rotate(1800deg);
        }
        }

    </style>
}
<div id="overlay">
    <div class="lds-hourglass"></div>
</div>
<div class="card mt-4 py-5 px-5">
    <div class="row">
        <div class="col-5 card-body border-right">
            System Admin<br/>
            Regular User<br/>
            Admin<br/>

        </div>
        <div class="col-5">
            <form action="/user/register" method="post" id="userform">
                <div class="card-body ml-2">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="email">Email Address </label>
                        <input class="form-control input-lg" id="email" name="email" required type="email" placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                        <select name="role" class="form-control form-control-lg">
                            @if (User.IsInRole(PortalUserRoles.SystemRoles.SystemAdmin.ToString()) || User.IsInRole(PortalUserRoles.SystemRoles.SuperAdmin.ToString()))
                            {
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.SystemAdmin)">@Html.Raw(PortalUserRoles.SystemRoles.SystemAdmin)</option>
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.Admin)">@Html.Raw(PortalUserRoles.SystemRoles.Admin)</option>
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.Regular)">@Html.Raw(PortalUserRoles.SystemRoles.Regular)</option>
                            }

                        </select>

                    </div>
                    <input type="submit" value="Add User" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="alert">
    <div class="modal-dialog">
        <div class="modal-content bg-success" id="modal-bg">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section scripts{
    <script>

    $("#userform").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');
    showLoader();
    $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function (data) {
            showModal(data);
            console.log(data);
        },
        error: function (data) {
            showModal(data);
            console.log(data);
        }
    });

    });
        function showModal(data) {
            
            var message = JSON.parse(data);
            $('#modal-title').text(message.Code);
            $('#modal-message').text(message.Message);
            if (message.Code === "500") {
                $('#modal-bg').addClass("bg-danger");
            } else {
                $('#modal-bg').addClass("bg-success");
            }
            $("#alert").modal("show");
            stopLoader();

        }
    function showLoader() {
        document.getElementById("overlay").style.display = "block";
    }

    function stopLoader() {
        document.getElementById("overlay").style.display = "none";
    }
    </script>
    
}

