@using VisibilityPortal_BLL.Models


@{
    ViewBag.Title = "Create New User";
    Layout = "../Shared/_LayoutAgencyBankingUI.cshtml";
}
@section HtmlHead{
    <style>

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .lds-hourglass {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
        }

            .lds-hourglass:after {
                content: " ";
                display: block;
                border-radius: 50%;
                width: 0;
                height: 0;
                margin: 6px;
                box-sizing: border-box;
                border: 26px solid #fff;
                border-color: #fff transparent #fff transparent;
                animation: lds-hourglass 1.2s infinite;
            }

        @@keyframes lds-hourglass {
            0% {
                transform: rotate(0);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            50% {
                transform: rotate(900deg);
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            100% {
                transform: rotate(1800deg);
            }
        }
    </style>
}
<div id="overlay">
    <div class="lds-hourglass"></div>
</div>
<div class="card mt-4 py-5 px-5">
    <div class="row">
        <div class="col-5 card-body border-right">
            System Admin<br />
            Regular User<br />
            Admin<br />

        </div>
        <div class="col-5">
            <form action="/user/register" method="post" id="form">
                <div class="card-body ml-2">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="email">Email Address </label>
                        <input class="form-control input-lg" id="email" name="email" required type="email" placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                        <select name="role" class="form-control form-control-lg">
                            @if (User.IsInRole(PortalUserRoles.SystemRoles.SystemAdmin.ToString()) || User.IsInRole(PortalUserRoles.SystemRoles.SuperAdmin.ToString()))
                            {
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.SystemAdmin)">@Html.Raw(PortalUserRoles.SystemRoles.SystemAdmin)</option>
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.Admin)">@Html.Raw(PortalUserRoles.SystemRoles.Admin)</option>
                                <option value="@Html.Raw(PortalUserRoles.SystemRoles.Regular)">@Html.Raw(PortalUserRoles.SystemRoles.Regular)</option>
                            }

                        </select>

                    </div>
                    <input type="submit" value="Add User" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{


    <script src="~/Scripts/submitform.js"></script>
}

