@using VisibilityPortal_BLL.Models.ASP_Identity
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "_AccountShared.cshtml";

}

<div>
    <h4 class="card-title">
        Login
    </h4>
    <div class="card-body">
        <section>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmLogin" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.OTP, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.OTP, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OTP, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*x<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                    @Html.MathCaptcha()
                <br/>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default btn-sm" />
                            <button type="button"
                                    class="btn btn-labeled btn-outline-dark btn-sm"
                                    id="resendOTP">
                                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                                Resend OTP
                            </button>
                    </div>
                </div>
                <!--
                Enable this once you have account confirmation enabled for password reset functionality
                -->
                <div class="form-group row">
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                </div>
                @*<p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>*@
            }
        </section>
    </div>
</div>
</>
@section Scripts {
    @{
        string[] scriptFiles = {
$"~/plugins/bootbox/bootbox.min.js",
$"~/Scripts/portal/view/accountLogin.js"
};
    }
    @Scripts.Render(scriptFiles)
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $("#frmLogin").validate({
            debug: true,
            rules: {
                Email: {
                    required: true,
                    email: true
                }
            }
        });
        var loginValidator = $("#frmLogin").validate();

        $("#Email").on("change", function () {
            if (loginValidator.element("#Email")) {
                PrevalidateLogin("@Url.Action("Osama", "Account")", $("#Email").val(), function (opSuccess) {
                    if (opSuccess == true) {
                        @*$("#OTP").removeAttr('disabled', 'disabled');*@
                        bootbox.alert({
                            message: "OTP sent.",
                            size: 'small'
                        });
                    }
                    @*else $("#OTP").attr('disabled', 'disabled');*@
                });
            }
        });

        $("#resendOTP").on("click", function () {
                $("#Email").trigger('change');
        });
    });
    </script>
}