@using System.Web.Optimization
@using Visibility_Portal
@using Utilities.PortalApplicationParams
@{
  ViewBag.Title = "MSACCO+ Device Activation";

  Layout = $"{MSaccoAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutMSacco.cshtml";
  ActiveUserParams activeUserParams = ViewBag.ActiveUserParams;
}
<h2>@ViewBag.Title</h2>
<div class="col-md-20">
  <div class="panel">
    <div class="panel-heading">
      <div class="pull-left">
        <h5 class="panel-info"><strong></strong></h5>
        <!-- phone mask -->
        <span class="btn-label">Enter Phone No:</span>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" id="btnReActivate" class="btn btn-warning">(Re)Activate</button>
          </div>
          <input type="text" class="form-control" id="memberTelNo" data-inputmask='"mask": "+254-999-999999"' data-mask>
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-info btn-flat"
                    id="btnSearchMemberDeviceRecord">
              Search!
            </button>
          </span>
        </div>
        <!-- /.input group -->
        <!-- phone mask -->
      </div>
      <div class="pull-right">
       <!--
        <button type="button"
                class="btn btn-labeled btn-primary btn-sm"
                onclick="ReloadData()">
          <span class="btn-label"><i class="fa fa-refresh"></i></span>
          Reload
        </button>
        <button type="button" class="btn btn-labeled btn-warning btn-sm" onclick="ClearFilters()">
          <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
          Reset
        </button>
        -->
      </div>

    </div>
    <div class="panel-body">
      <div id="msaccoPlusMemberDevicesListTable"></div>
    </div>

  </div>
</div>

@section Scripts {
  <!-- Include external scripts-->
  @Scripts.Render($"{MSaccoAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/msaccoPlusNumberChecker.js")
  <!-- Define local scripts-->
  <script>
    $(document).ready(function () {
      $('[data-mask]').inputmask();

      initTabulator(
        "#msaccoPlusMemberDevicesListTable",
        { encSecret: "@activeUserParams.APIAuthID", encKey: "@activeUserParams.APIToken" });

      $("#btnSearchMemberDeviceRecord").on('click', function () {
        SearchMemberDeviceRecord(
          "@Url.Action("GetMSACCOPlusDeviceRecord", "MsaccoPlusNumberChecker")",
          @activeUserParams.ClientCorporateNo,
          $("#memberTelNo").val()
        );
      });

      $("#btnReActivate").on('click', function () {
        if ($("#memberTelNo").val() == '') return;
        bootbox.confirm({
          title: "Confirm to ReActivate Member on MSACCO+ App",
          message: "Are you sure? This action cannot be reversed ",
          buttons: {
            cancel: {
              label: '<i class="fa fa-times"></i> Cancel',
              className: 'btn-success'
            },
            confirm: {
              label: '<i class="fa fa-check"></i> Confirm',
              className: 'btn-danger'
            }
          },
          callback: function (result) {
            if (result == true) {
              ResetMemberDevice(
                "@Url.Action("ResetMSACCOPlusDeviceRecord", "MsaccoPlusNumberChecker")",
                @activeUserParams.ClientCorporateNo,
                $("#memberTelNo").val(),
                { encSecret: "@activeUserParams.APIAuthID", encKey: "@activeUserParams.APIToken" });
            }
          }

        });
      });
    });
  </script>
}