@using System.Web.Optimization
@using Visibility_Portal
@using Utilities.PortalApplicationParams
@{
    ViewBag.Title = "MSACCO Deposits";

    Layout = $"{MSaccoAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutMSacco.cshtml";
    ActiveUserParams activeUserParams = ViewBag.ActiveUserParams;
}
<h2>@ViewBag.Title</h2>
<div class="col-md-20">
    <div class="panel">
        <div class="panel-heading">
            <h5 class="panel-info"><strong>Upload MPESA Statement - C2B</strong></h5>
            <div class="pull-left">
                <div class="input-group">
                    <input type="file" class="form-control" id="statementFile" accept=".xls,.xlsx">
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-info btn-flat"
                                id="btnImportFromFile">
                            Upload
                        </button>
                    </span>
                </div>

            </div>
            <div class="pull-right">
                <button type="button"
                        class="btn btn-labeled btn-primary btn-sm"
                        onclick="ReloadData()">
                    <span class="btn-label"><i class="fa fa-refresh"></i></span>
                    Reload
                </button>
                <button type="button" class="btn btn-labeled btn-warning btn-sm" onclick="ClearFilters()">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
                    Clear filters
                </button>
            </div>

        </div>
        <div class="panel-body">
            <div id="mpesaDepositsListTable"></div>
        </div>

    </div>
</div>

@section Scripts {
    <!-- Include external scripts-->
    @{
        string[] scriptFiles = {
            $"{MSaccoAreaRegistration.AreaPathFromRoot}/plugins/sheetjs/shim.min.js",
            $"{MSaccoAreaRegistration.AreaPathFromRoot}/plugins/sheetjs/xlsx.full.min.js",
            $"{MSaccoAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/mpesaDeposits.js"
        };
    }
@Scripts.Render(scriptFiles)
<!-- Define local scripts-->
<script>
    @functions{
        public string XToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;                
        }
    }

    $(document).ready(function () {
        var token = "@XToken()";

        $("#statementFile").on('change', function (event) {
            selectedStatementFile = event.target.files[0];
        });

        $("#btnImportFromFile").on('click', function () {
            if (selectedStatementFile) {
                var fileReader = new FileReader();

                fileReader.onload = LoadStatementData;
                fileReader.readAsBinaryString(selectedStatementFile);

                fileReader.onloadend = function (e) {
                    UploadStatement(
                        "@Url.Action("BenkiKuu", "Deposits")",
                        parsedStatementFile,
                        { encSecret: "@activeUserParams.APIAuthID", encKey: "@activeUserParams.APIToken", xToken: token });
                }
                
            }
        });


        initTabulator(
        "#mpesaDepositsListTable",
        { encSecret:"@activeUserParams.APIAuthID", encKey:"@activeUserParams.APIToken" });

      LoadData(
        "@Url.Action("GetUploadedDepositFiles", "Deposits")",
        @activeUserParams.ClientCorporateNo);
    });
</script>
    }