@using System.Web.Optimization
@using Visibility_Portal
@{
  Layout = $"{CallCenterAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutCallCenter.cshtml";
}
@model IEnumerable<CallCenter_DAL.Sacco>
@using CallCenter_DAL
@{
  ViewBag.Title = "Sacco";
  var activeSacco = (Sacco)ViewBag.Sacco;
}
@section HtmlHead{
  @{ 
    string[] cssFiles = {
        //$"{CallCenterAreaRegistration.AreaPathFromRoot}/plugins/DataTables/datatables.css",
      };
  }
  @Styles.Render(cssFiles);
}
<section class="content-header">
  <h3>
    Sacco
</h3>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>
<section class="content">
  @*<table id="saccoList" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>
          Corporate No
        </th>
        <th>
          Name
        </th>
        <th>
          M-Pesa Float
        </th>
        <th>
          SMS Float
        </th>
        <th>Set Active</th>
      </tr>
    </thead>
    <tbody>
      @using (Html.BeginForm())
      {
        foreach (Sacco item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.corporateNo)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.saccoName_1)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.mpesaFloat)
            </td>
            <td>
              SMS_FLOAT_GOES_HERE
            </td>
            <td>
              <input type="radio" name="SelectedSacco"
                     onclick="SetActiveSacco(
                      this.value,
                      {controlID:'#currentActiveSacco', placeholder:'.dynamicPlaceholder'},
                      @(activeSacco != null ? "true":"false"));"
                     value=@item.corporateNo>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>*@
  <div class="col-md-20">
    <div class="panel">
      <div class="panel-heading">
        <div class="pull-left">
          <h5 class="panel-info"><strong>MPesa Float | BULK SMS Float | Transactional SMS Float</strong></h5>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-labeled btn-primary btn-sm" onclick="LoadData()">
            <span class="btn-label"><i class="fa fa-refresh"></i></span>
            Reload
          </button>
          <button type="button" class="btn btn-labeled btn-warning btn-sm" onclick="ClearFilters()">
            <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
            Clear filters
          </button>
        </div>

      </div>
      <div class="panel-body">
        <div id="saccoPrimaryInfoTable"></div>
      </div>

    </div>
  </div>
</section>

@section Scripts {
  <!-- Include external scripts-->
  @*@Scripts.Render($"{CallCenterAreaRegistration.AreaPathFromRoot}/plugins/DataTables/datatables.js");*@
  @Scripts.Render($"{CallCenterAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/sacco.js")
  <!-- Define custom scripts-->
  <script>
    $(document).ready(function () {
      initTabulator("#saccoPrimaryInfoTable");
      $("#selectSacco").change(function () {
        var selectedSaccoCorporateNo = $(this).val();
        if (!selectedSaccoCorporateNo) return;
        LoadData("@Url.Action("LoadPrimaryInfo","Sacco")", selectedSaccoCorporateNo);
      });
    });
  </script>
}
