@using VisibilityPortal_BLL.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MenuLinks{

    <li>
        <a href="@Url.Action("Index", "Home")">
            <i class="fa fa-list-ol" style="color:brown"></i>
            <span>
                DashBoard
            </span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Agents", "Summary")">
            <i class="fa fa-list-ol" style="color:brown"></i>
            <span>
                Reports
            </span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Agents", "Summary")">
            <i class="fa fa-university" style="color:brown"></i>
            <span>
                View Agents
            </span>
        </a>
    </li>
    @{
        if (User.IsInRole(PortalUserRoles.SystemRoles.Regular.ToString()))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Devices</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Devices", "Summary")"><i class="fa fa-circle-o"></i> View All Device</a></li>
                </ul>
            </li>
        }
    }

        @{
        if (User.IsInRole(PortalUserRoles.SystemRoles.SystemAdmin.ToString()) || User.IsInRole(PortalUserRoles.SystemRoles.SuperAdmin.ToString()))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Devices</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Device")"><i class="fa fa-circle-o"></i> Add New Devices</a></li>

                    <li><a href="@Url.Action("Devices", "Summary")"><i class="fa fa-circle-o"></i> View All Device</a></li>  
                    <li><a href="@Url.Action("Assign","Device")"><i class="fa fa-circle-o"></i> Assign Device</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Device Repair Log</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Repairs</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index","Repair")"><i class="fa fa-circle-o"></i>Create a Repair Ticket</a></li>

                    <li><a href="@Url.Action("Devices", "Summary")"><i class="fa fa-circle-o"></i>Track a Device</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Device Repair Log</a></li>
                </ul>
            </li>

            <li>
                <a href="@Url.Action("Index", "User")">
                    <i class="fa fa-list-ol" style="color:brown"></i>
                    <span>
                        Create User
                    </span>
                </a>
            </li>
        }
    }
}
@section HtmlHead{
    <style>

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .lds-hourglass {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            height: 64px;
        }

            .lds-hourglass:after {
                content: " ";
                display: block;
                border-radius: 50%;
                width: 0;
                height: 0;
                margin: 6px;
                box-sizing: border-box;
                border: 26px solid #fff;
                border-color: #fff transparent #fff transparent;
                animation: lds-hourglass 1.2s infinite;
            }

        @@keyframes lds-hourglass {
            0% {
                transform: rotate(0);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            50% {
                transform: rotate(900deg);
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            100% {
                transform: rotate(1800deg);
            }
        }
    </style>
    @RenderSection("HtmlHead", false)
}
<div id="overlay"><div class= "lds-hourglass" ></div></div >
@RenderBody()
<div class="container modal fade" id="alert"><div class= "modal-dialog"><div class="modal-content bg-success" id="modal-bg"><div class="modal-header"><h4 class="modal-title" id="modal-title"></h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><p id="modal-message"></p></div><div class="modal-footer justify-content-between"><button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button></div></div></div ></div>


@section scripts{
    @RenderSection("scripts", false)
}