@{
    Layout = "../Shared/_LayoutAgencyBankingUI.cshtml";
}
@using AgencyBanking_UI.Model
@{
    ViewBag.Title = "Agency Banking Home Page";
    List<SummaryMenuItem> itemlist = new List<SummaryMenuItem>();
    //Prepare menu items
    itemlist.Add(new SummaryMenuItem("Total Withdrawals Today", "/Content/image/withdraw.png", "WIthdrawal", ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("Total Deposits Today", "/Content/image/deposit.png", "Deposit", ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("Loan Repayment", "/Content/image/report.png", "Loan Replayment", ViewBag.Data));
    itemlist.Add(new SummaryMenuItem("New Registered Agents", "/Content/image/bankteller.png", "#", ViewBag.Data));
}

@section HtmlHead{
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <script src="~/Scripts/Chartjs/Chart.bundle.min.js"></script>
    <style>
        @@media only screen and (min-width:  768px) {
            .box-shadow {
                box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
            }

            .zoom {
                padding: 20px;
                -ms-transition: transform .2s;
                -o-transition: transform .2s;
                -webkit-transition: transform .2s;
                transition: transform .2s; /* Animation */
                width: 200px;
                margin: 0 auto;
            }

            .card:hover {
                box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
            }

            .zoom:hover {
                transform: scale(1.1);
            }

            .zoom-md {
                -ms-transition: transform .2s;
                -o-transition: transform .2s;
                -webkit-transition: transform .2s;
                transition: transform .2s; /* Animation */
                width: 200px;
                margin: 0 auto;
            }

                .zoom-md:hover {
                    z-index: 4;
                    transform: scale(1.0);
                }
        }

        @@media only screen and (max-width: 600px) {
            .zoom {
                margin-top: 10px;
            }
        }
    </style>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />

}

<section class="container">
    <h4>Todays Stats</h4>
    <div class="row container">

        @foreach (var menuItem in itemlist)
        {
            <div class="col-lg-3 col-12 zoom">
                @{
                    var link = (menuItem.FieldName == "#" ? String.Empty : "summary");
                }
                <a href=@Url.Action("Index", link, new {type = menuItem.FieldName})>

                    <div class="small-box bg-red-gradient">
                        <div class="inner" style="text-align: center">
                            <h3>@Html.Raw(menuItem.Amount)</h3>

                            <p>@Html.Raw(menuItem.Title)</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-star"></i>
                        </div>
                        <div href="#" class="small-box-footer">View More <i class="fa fa-arrow-circle-right"></i></div>
                    </div>

                </a>
            </div>

        }
    </div>
</section>
<section class="container ">
    <div class="row p-4">
        <!-- BAR CHART -->
        <div class=" col-sm-12 col-md-6 card zoom-md">
            <div class=" box-header with-border">
                <h3 class="box-title">Deposit vs Shares Deposit</h3>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="barChart" style="height: 230px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- Line -->
        <div class="card box-success col-sm-12 col-md-6 zoom-md ">
            <div class="box-header with-border">
                <h3 class="box-title">Member Registration </h3>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="memberregistrationgraph" style="height: 230px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->
        <!-- Line -->
        <div class="card box-success col-sm-12 col-md-6 zoom-md">
            <div class="box-header with-border">
                <h3 class="box-title">Loan Application </h3>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart" style="height: 230px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="card box-success col-sm-12 col-md-6 zoom-md">
            <div class="box-header with-border">
                <h3 class="box-title">Loan Repayment </h3>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="loanreplaymentgraph" style="height: 230px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</section>


@section scripts{

    <script>
        function bargraph() {
            var chart = $('#barChart');
            var months = [];
            var deposits = [];
            var shares = [];
            var ctx = $('#barChart');

            $.get('@Url.Action("GetDeposits", "Home")',
                function(data) {

                    for (var i in data) {
                        months.push(data[i].month);
                        if (data[i].type === 'Share Deposit') {
                            shares.push(data[i].total);
                        } else {
                            deposits.push(data[i].total);
                        }
                    }
                    var chartdata = {
                        labels: remove_duplicate_months(months),
                        datasets: [
                            {
                                label: 'Deposits',
                                backgroundColor: '#3e95cd',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: deposits
                            },
                            {
                                label: 'Share Deposits',
                                backgroundColor: '#8e5ea2',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: shares
                            }
                        ]
                    };
                    var chart = new Chart(ctx,
                        {
                            type: 'bar',
                            data: chartdata
                        }
                    );
                });

            function remove_duplicate_months(arr) {
                var seen = {};
                var ret_arr = [];
                for (var i = 0; i < arr.length; i++) {
                    if (!(arr[i] in seen)) {
                        ret_arr.push(arr[i]);
                        seen[arr[i]] = true;
                    }
                }
                return ret_arr;

            }
        }

        function linegraph(link,id,caption) {
            var labels = [];
            var dat = [];
            var ctx = $(id);


            $.get(link,
                function(data) {
                    for (var i in data) {
                        console.log(data);
                        labels.push(data[i].month);
                        dat.push(data[i].total);
                    }

                    var chartdata = {
                        labels: labels,
                        datasets: [
                            {
                                label: caption,
                                backgroundColor: '#3e95cd',
                                borderColor: '#3e95cd',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                fill:false,
                                data: dat
                            }]
                    }
                    var chart = new Chart(ctx,
                        {
                            type: 'line',
                            data: chartdata
                        }
                    );


                });

        }

    </script>
    <script>

        bargraph();
        linegraph('@Url.Action("GetLoanRepaymentStats","Home")',"#loanreplaymentgraph","Loan Repayment")
        linegraph('@Url.Action("GetLoanStats", "Home")', '#lineChart', "Loan Application");
        linegraph('@Url.Action("GetMemberRegistrationStats", "Home")','#memberregistrationgraph','Total Number of Loan ApplicationsTotal Number of Loan Applications')
    </script>

}