@using System.Web.Optimization
@using Visibility_Portal
@using Utilities.PortalApplicationParams
@{
  ViewBag.Title = "IMSI MSACCO RESET";

  Layout = $"{MSaccoAreaRegistration.AreaPathFromRoot}/Views/Shared/_LayoutMSacco.cshtml";
  ActiveUserParams activeUserParams = ViewBag.ActiveUserParams;
}
<h2>@ViewBag.Title</h2>
<div class="col-md-20">
  <div class="panel">
    <div class="panel-heading">
      <div class="pull-left">
        <h5 class="panel-info"><strong></strong></h5>
        <!-- phone mask -->
        <span class="btn-label">Enter Phone No:</span>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" id="btnReActivate" class="btn btn-warning">Authenticate</button>
          </div>
          <input type="text" class="form-control" id="memberTelNo" data-inputmask='"mask": "+254-999-999999"' data-mask>
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-info btn-flat"
                    id="btnSearchMemberDeviceRecord">
              Search!
            </button>
          </span>
        </div>
        <!-- /.input group -->
        <!-- phone mask -->
      </div>
      <div class="pull-right">
       <!--
        <button type="button"
                class="btn btn-labeled btn-primary btn-sm"
                onclick="ReloadData()">
          <span class="btn-label"><i class="fa fa-refresh"></i></span>
          Reload
        </button>
        <button type="button" class="btn btn-labeled btn-warning btn-sm" onclick="ClearFilters()">
          <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span>
          Reset
        </button>
        -->
      </div>

    </div>
    <div class="panel-body">
      <div id="blockedTIMSIRecordsListTable"></div>
    </div>

  </div>
</div>

@section Scripts {
  <!-- Include external scripts-->
  @Scripts.Render($"{MSaccoAreaRegistration.AreaPathFromRoot}/Scripts/portal/view/msaccoTIMSIReset.js")
  <!-- Define local scripts-->
  <script>
    $(document).ready(function () {
      $('[data-mask]').inputmask();

      initTabulator("#blockedTIMSIRecordsListTable");

      $("#btnSearchMemberDeviceRecord").on('click', function () {
        SearchMemberTIMSIRecord(
          "@Url.Action("GetBlockedTIMSIRecord", "TIMSI")",
          @activeUserParams.ClientCorporateNo,
          $("#memberTelNo").val()
        );
      });

      $("#btnReActivate").on('click', function () {
        if ($("#memberTelNo").val() == '') return;
        bootbox.confirm({
          title: "Confirm to Authenticate Member's SIM Card Change",
          message: "Are you sure? This action cannot be reversed ",
          buttons: {
            cancel: {
              label: '<i class="fa fa-times"></i> Cancel',
              className: 'btn-success'
            },
            confirm: {
              label: '<i class="fa fa-check"></i> Confirm',
              className: 'btn-danger'
            }
          },
          callback: function (result) {
            if (result == true) {
              bootbox.prompt({
                title: "Please provide KYC details ",
                buttons: {
                  cancel: {
                    label: '<i class="fa fa-times"></i> ABORT',
                    className: 'btn-outline-warning'
                  },
                  confirm: {
                    label: '<i class="fa fa-check"></i> PROCEED',
                    className: 'btn-outline-success'
                  }
                },
                inputType: 'textarea',
                centerVertical: true,
                callback: function (result) {
                   console.log(result);
                  if (result != undefined) {
                    if (result.length < 5) {
                      bootbox.alert({
                        title: "<h3>MSACCO IMSI Authentication</h3>",
                        message: "KYC info is too short! Please provide substantive information"
                      });
                      return;
                    }
                    ResetMemberDevice(
                      "@Url.Action("ResetMSACCOTIMSIRecord", "TIMSI")",
                      @activeUserParams.ClientCorporateNo,
                      $("#memberTelNo").val(),
                      result
                    );
                  }
                }
              });

              
            }
          }

        });
      });
    });
  </script>
}